In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('IHME_ORB_C19HSDS_2020_Y2020M12D03.CSV')
df

,SbjNum,NetDuration,InterviewTimeVStart,InterviewTimeVEnd,Date,Srvyr,Country,LANG,R1,R1_5,...,G11_Other,G11_99,FinalOutcome,NumOfVisits,weight_combined,kenya_weight,nigeria_weight,southafrica_weight,agegroup,gk_weight
0,133476254,0:10:14,7/17/2020 13:53,7/17/2020 14:26,7/17/2020 8:53,3232,2,1,9,15.0,...,NaN,NaN,1,1,0.829860,NaN,0.829860,NaN,1,1.555754
1,133281846,0:22:16,7/10/2020 12:53,7/10/2020 14:47,7/10/2020 7:53,3206,2,4,12,22.0,...,NaN,NaN,1,1,1.416946,NaN,1.416946,NaN,2,1.949579
2,133280780,0:19:23,7/10/2020 12:35,7/10/2020 12:54,7/10/2020 7:35,3202,2,3,10,13.0,...,NaN,NaN,1,1,0.883601,NaN,0.883601,NaN,2,2.151458
3,133281834,0:10:11,7/10/2020 10:21,7/10/2020 10:32,7/10/2020 5:21,3212,2,1,12,9.0,...,NaN,NaN,1,1,1.416946,NaN,1.416946,NaN,2,2.325065
4,133491249,0:09:59,7/18/2020 8:27,7/18/2020 8:39,7/18/2020 3:27,3225,2,3,11,28.0,...,NaN,NaN,1,1,0.829860,NaN,0.829860,NaN,1,1.640484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3053,133323839,0:09:03,7/11/2020 12:44,7/11/2020 12:53,7/11/2020 5:44,3012,1,7,8,NaN,...,NaN,NaN,1,1,3.791351,3.791351,NaN,NaN,3,2.354356
3054,133305818,0:06:57,7/11/2020 16:18,7/11/2020 16:25,7/11/2020 9:18,3008,1,1,3,NaN,...,NaN,NaN,1,1,1.157689,1.157689,NaN,NaN,2,1.869021
3055,133260048,0:21:46,7/9/2020 11:49,7/9/2020 12:12,7/9/2020 4:49,3004,1,1,7,NaN,...,NaN,NaN,1,1,0.799916,0.799916,NaN,NaN,1,1.907830
3056,133305807,0:06:50,7/11/2020 9:05,7/11/2020 9:12,7/11/2020 2:05,3008,1,1,3,NaN,...,NaN,NaN,1,1,0.799916,0.799916,NaN,NaN,1,1.753344
3057,133352713,0:09:20,7/13/2020 9:56,7/13/2020 14:44,7/13/2020 2:56,3003,1,1,2,NaN,...,NaN,NaN,1,3,1.157689,1.157689,NaN,NaN,2,1.869021

In [5]:
# srednia
series1 = df["weight_combined"]
series1
np.mean(series1)

1.0009869195359713

In [7]:
# mediana
series2 = df["gk_weight"]
series2
np.median(series2)

2.046237019

In [9]:
# odchylenie standardowe
np.std(series1)

0.4030393741519619

In [11]:
# wariancja
np.var(series1)

0.16244073711680515

In [13]:
# korelacja
np.corrcoef(series1, series2)[0, 1]

0.22123768551326237

In [15]:
# kowariancja
np.cov(series1, series2)[0, 1]

0.07658173104603606